<div>
    <h2>Pagarés</h2>
    <hr>
    <form class="form-inline">
        <div class="form-group">
            <label for="financialId">Inversionista</label>
            <select id="financialId" class="form-control" ng-model="model.credit.financial" ng-options="financial.nit as financial.name for financial in model.financials" required>
                <option value="">Seleccione Entidad...</option>
            </select>
        </div>
    </form>
    <table class="table">
        <tr>
            <th>Fecha de la solicitud</th>
            <th>Identidad de solicitante</th>
            <th>Propietario</th>
            <th>Monto Crédito</th>
            <th>Valor pagaré</th>
            <th>Valor a pagar</th>
            <th>Comprar</th>
        </tr>
        <tr ng-repeat="credit in model.credits">
            <td>{{credit.dateRequest | date:"MM/dd/yyyy 'at' h:mma"}}</td>
            <td>{{credit.employed}}</td>
            <td>{{credit.financial}}</td>
            <td>{{credit.amount | currency : "$ " : 0}}</td>
            <td>{{credit.price | currency : "$ " : 0}}</td>
            <td><input type="text" min="0" class="form-control" placeholder="$" ng-model="credit.salesValue" ui-money-mask="0" required></td>
            <td>
                <div class="form-actions">
                    <buton type="submit" class="btn btn-danger" ng-hide="!credit.salesValue" ng-click="model.sale(credit)">
                        <span class="glyphicon glyphicon-usd"></span>
                    </buton>
                </div>
            </td>
        </tr>
    </table>
</div>
