<div>
    <h2>lista de créditos para aprobar desembolsos</h2>
    <hr>
    <form ng-submit="model.getCredits()" class="form-inline">
        <label for="idFinancial">Filtrar por nit de la compañia</label>
        <input type="text" class="form-control" id="idFinancial" placeholder="nit" ng-model="model.request.financialId" required>
        <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-danger">Filtrar</button>
    </form>
    <table class="table">
        <tr>
            <th>Fecha de la solicitud</th>
            <th>Nit Compañia</th>
            <th>Identidad de solicitante</th>
            <th>Nit entidad financiera</th>
            <th>Monto Solicitado</th>
            <th>Valor venta</th>
            <th></th>
        </tr>
        <tr ng-repeat="credit in model.credits">
            <td>{{credit.dateRequest | date:"MM/dd/yyyy 'at' h:mma"}}</td>
            <td>{{credit.companyId}}</td>
            <td>{{credit.employedId}}</td>
            <td>{{credit.financialId}}</td>
            <td>{{credit.ammount | currency : "$ " : 0}}</td>
            <td><input type="text" class="form-control" placeholder="$" ng-model="credit.price" ui-money-mask="0" required></td>
            <td>
                <div class="btn-group">
                    <buton class="btn btn-default" ng-click="model.validate(credit)">
                        <span class="glyphicon glyphicon-check"></span>
                    </buton>
                </div>
            </td>
        </tr>
    </table>
</div>